<h1>Edit Photo <%=@edit_id%></h1>

<form action="<%="/update_photo/" +@edit_id %>">
  <div>
    <label for="koky">Image URL</label>
    <input id="koky" type="text" value="<%=@old_source%>"  name="user_url">
  </div>
  
  <div>
    <label for="boky">Caption</label>
    <input id="boky" type="text" value="<%=@old_caption%>" name="user_caption">
  </div>
  
  <button>Update Photo</button>
</form>

