<h1>Edit Photo <%=@edit_id%></h1>

<form action="<%="/update_photo/" +@edit_id %>">
  <div>
    <label for="7mada">Image URL</label>
    <input for="7mada" type="text" value="<%=@old_source%>"  name="user_url">
  </div>
  
  <div>
    <label for="7amada_tany">Caption</label>
    <input for="7mada_tany" type="text" value="<%=@old_caption%>" name="user_caption">
  </div>
  
  <button>Update Photo</button>
</form>

