<h1>Add a new photo</h1>

<form action="/create_photo">
  <div>
    <label for="7mada">Image URL</label>
    <input for="7mada" type="text" name="user_url">
  </div>
  
  <div>
    <label for="7amada_tany">Caption</label>
    <input for="7mada_tany" type="text" name="user_caption">
  </div>
  
  <button>Create Photo</button>
</form>