<h1>Add a new photo</h1>

<form action="/create_photo">
  <div>
    <label for="mada">Image URL</label>
    <input id="mada" type="text" name="user_url">
  </div>
  
  <div>
    <label for="zeby">Caption</label>
    <input id="zeby" type="text" name="user_caption">
  </div>
  
  <button>Create Photo</button>
</form>